<div class="container mt-5">
    <div class="row">
        <!-- Левая часть: изображение -->
        <div class="col-md-4">
            <img src="{{imageurl}}" alt="{{name}}" class="img-fluid rounded">
        </div>

        <!-- Правая часть: текст -->
        <div class="col-md-8">
            <h2 class="text-danger">{{name}}</h2>
            <p><strong>Дата проведения:</strong> с {{startdate}} по {{enddate}}</p>
            <p>{{description}}</p>
        </div>
    </div>

    <!-- Кнопка "Записаться" -->
    <div class="row mt-4">
        <div class="col text-end">
            <a href="{{registerurl}}" class="btn btn-primary">
                Записаться
            </a>
        </div>
    </div>
</div>