<div class="row">
    {{#olympiads}}
        <div class="col-md-2">
            <a href="{{detailsurl}}" class="card mb-4 olympiad-card text-decoration-none">
                <img src="{{imageurl}}" class="card-img-top olympiad-image" alt="{{name}}">
                <div class="card-body text-center">
                    <h5 class="card-title">{{name}}</h5>
                </div>
            </a>
        </div>
    {{/olympiads}}

    {{^olympiads}}
        <div class="col-12">
            <div class="alert alert-info text-center">{{noavailableolympiads}}</div>
        </div>
    {{/olympiads}}
</div>